/* Yttr config file. Based on a subset of CSS. My crusade to make cursed configs continues... */

#general {
	/*
	 * If set to "on", allows players to break bedrock anywhere in any dimension, instead of only at
	 * the bottom of the overworld.
	 */
	break-bedrock-anywhere: off;
	
	/*
	 * If set to "on", enables inside-jokes and various chaos. Nothing destructive.
	 */
	shenanigans: on;
	
	/*
	 * If set to "on", Overworld void holes created through other means than a Bedrock Breaker (e.g.
	 * creative breaking) will still create Void Geysers. Turn this off if you have other mods that
	 * need void holes for their own reasons.
	 */
	convert-void-holes: off;
	
	/*
	 * If set to "on", Drops of Continuity can be "burned" by holding the use key, gifting a random
	 * item from the yttr:gifts tag (both block and item) that isn't in the yttr:not_gifts tag.
	 */
	allow-continuity-burning: on;
}

#client {
	/*
	 * If set to "on", force-disables OpenGL compatibility mode. "auto" acts as "on" on macOS, and
	 * "off" everywhere else.
	 *
	 * Running Yttr under the OpenGL Core Profile is NOT SUPPORTED, and may lead to RENDER BUGS and
	 * CRASHES.
	 */
	force-opengl-core: auto;
	
	/*
	 * The color of the ingame configuration menu.
	 */
	config-color: teal;
	
	/*
	 * If set to "on", forces the 1.19.3 color order in Yttr's creative tabs on 1.19.2. If set to
	 * "off", force the 1.19.3 color order on 1.20.1.
	 */
	use-new-color-order: auto;
	
	/*
	 * Can be set to "world" or "camera". "camera" is the old control scheme before this option was
	 * added, which changes controls to be entirely relative to the camera; for example, holding
	 * forward while looking down makes you move down. This works more like a typical 6DoF control
	 * scheme, but differs from vanilla and can be disorienting, so the "world" option locks
	 * controls to world-relative similar to vanilla. Jump/Sneak always adjust your Y coordinate,
	 * and the behavior of normal move keys is only affected by your yaw and not your pitch.
	 */
	antigrav-controls: world;
}

#rifle {
	/*
	 * If set to "off", the Void rifle mode will be disabled. It provides an easy way to destroy
	 * massive amounts of blocks very cheaply (once sufficiently far into Yttr's progression) and
	 * can be a griefing tool.
	 * 
	 * Yttr adds a command, /yttr:void_undo, that allows operators to undo individual voids or all
	 * voids performed by a player. Additionally, voids are logged to console.
	 *
	 * DISABLING THIS BREAKS YTTR'S PROGRESSION. Setting it to "soft" will only allow Void mode to
	 * break blocks required for progression.
	 */
	allow-void: on;
	/*
	 * If set to "off", the Explode rifle mode will be disabled. It provides a relatively cheap way
	 * to create normal vanilla explosions. If set to "soft", the explosions will not break any
	 * blocks, but will still damage entities and set off Bedrock Breakers.
	 * 
	 * DISABLING THIS BREAKS YTTR'S PROGRESSION. You need to provide an alternate way to create
	 * Void Geysers and obtain Bedrock Shards. If you are afraid of explosions, it's recommended to
	 * use "soft" rather than "off".
	 */
	allow-explode: on;
	/*
	 * If set to "off", the Fire rifle mode will be disabled. It provides a way to light fires, and
	 * destroy blocks in #yttr:fire_mode_instabreak instantly.
	 */
	allow-fire: on;
	
	/*
	 * If on, ding noises will play as the rifle charges informing you of important timing points.
	 * The first ding is for a normal 500kJ shot, and there are then three dings leading up to the
	 * 650kJ shot.
	 */
	timing-assist: on;
}

#enchantments {
	/*
	 * If on, the Vorpal weapon enchantment can be obtained, which provides a level-dependent chance
	 * to deal a very large of damage on strike.
	 */
	vorpal: on;
	/*
	 * If on, the Disjunction weapon enchantment can be obtained, which acts as an analogue to
	 * Smite for Ender creatures.
	 */
	disjunction: on;
	/*
	 * If on, the Curse of Annihilation tool enchantment can be obtained, which completely destroys
	 * any items that would have been dropped when breaking a block.
	 */
	annihilation: on;
	/*
	 * If on, the Curse of Shattering tool enchantment can be obtained, which "shatters" dropped
	 * items via 1x1 crafting recipes, reverse-stonecutting, and more.
	 */
	shattering: on;
	/*
	 * If on, the Springing coil enchantment can be obtained, increasing your jump height.
	 */
	springing: on;
	/*
	 * If on, the Stabilization coil enchantment can be obtained, removing the midair break speed
	 * penalty.
	 */
	stabilization: on;
	
	/*
	 * If on, Yttr's Curses can be obtained via regular enchanting.
	 */
	curses-in-table: on;
}

#worldgen {
	/*
	 * Generate Gadolinite ore in the overworld, a source of Yttrium and Neodymium, plus a bonus
	 * source of iron.
	 * 
	 * DISABLING THIS BREAKS YTTR'S PROGRESSION. You need to provide an alternate way to get
	 * Yttrium and Neodymium.
	 */
	gadolinite: on;
	/*
	 * Generate Brookite ore in the overworld, an ore specifically for tools and decorative blocks.
	 * 
	 * In the future, Yttr progression will require Brookite; for now, disabling this is safe.
	 */
	brookite: on;
	
	/*
	 * Generate Squeeze Trees in the overworld, providing an easy source of sponges, Delicace, and
	 * a convenient way to flood areas with water.
	 * 
	 * Squeeze Trees are not required for Yttr progression.
	 */
	squeeze-trees: on;
	/*
	 * Generate the Wasteland biome.
	 * 
	 * The Wasteland is not required for Yttr progression.
	 */
	wasteland: on;
	
	/*
	 * Replace the Nether's bottom bedrock with unremovable "Core Lava" and barriers. This exists
	 * to help tie together Yttr's lore, but it provides an easy source of infinite lava, may break
	 * other mods that expect bedrock under the nether, and it's hard to get out of if you fall in.
	 */
	core-lava: on;
	/*
	 * Replace the Nether's top bedrock with Upstrate, a bedrock-like block that can be destroyed by
	 * Void mode on the Rifle, giving way to the Scorched Summit dimension.
	 * 
	 * DISABLING THIS BREAKS YTTR'S PROGRESSION. You need to provide an alternate way to reach the
	 * Scorched dimension.
	 * 
	 * If you're concerned about balance, accessing the Nether ceiling is already a solved problem
	 * without any mods. Just removing the bedrock and providing this much more interesting
	 * replacement makes more sense than you think.
	 */
	upstrate: on;
	/*
	 * Perform Upstrate retrogeneration in Nether chunks that still have bedrock, or have the old
	 * pre-9.x Scorched Summit.
	 *
	 * Won't destroy existing structures.
	 */
	upstrate-retrogen: on;
	
	/*
	 * Generate "Roots of Continuity" on the underside of small End islands.
	 * 
	 * DISABLING THIS BREAKS YTTR'S PROGRESSION. You need to provide an alternate way to access
	 * Drops of Continuity.
	 */
	continuity: on;
	
	/*
	 * Spawns deer in forests, cute passive mobs that eat flowers. 
	 */
	deer: on;
}

#debug {
	/*
	 * If true, technical air blocks will be made visible. Very slow.
	 */
	render-air-blocks: off;
}